@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

body {
  font-family: 'Jost', sans-serif;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('/public/slider.svg');
  background-size: cover;
  max-height: 100vh;
}

.title-section,
.form-section {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0E1C3C;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px 0;
  align-items: center;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-section {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 40px;
}

.register-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0E1C3C;
}

.canteen-name {
  font-size: 36px;
  font-weight: bold;
  color: #005993;
}

@media (min-width: 768px) {
  .canteen-name {
    font-size: 90px;
  }
  .title-section {
    margin-left: 0px;
  }
  
}
@media (max-width: 480px){
  .title-section {
    margin-left: 0px;
    text-align: center;
  } 
}

.form-section .register-form {
  background-color: #f5f6f7;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}



.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  color: #000;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #dfdfdf;
  box-sizing: border-box;
}

.login-button {
  background-color: #005993;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #004080;
}

.form-footer {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.form-footer a {
  color: #005993;
  text-decoration: none;
  font-weight: bold;
}

.form-footer a:hover {
  text-decoration: underline;
}

.form-validation-mess {
  color: red;
  font-weight: 600;
}

@media (min-width: 768px) {
  .login-button {
    width: 30%;
  }
  .title-section {
    margin-left: 0px;
  }
}

