@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 5px 40px rgba(14, 28, 60, 0.1);
  margin-bottom: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
  background-color: #0E1C3C;
  padding: 15px 50px;
  border-radius: 5px;
  margin-left: auto;
}

.nav-item {
  margin: 0 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.nav-item:hover {
  text-decoration: underline;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: #005993;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.nav-button:hover {
  background-color: #0E1C3C;
}

.nav-button .icon {
  height: 30px;
  width: 30px;
}

/* Hamburger Menu Button */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  position: relative;
  top: -30px; /* Adjust this value to move the hamburger menu up */
  z-index: 2;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
  position: absolute;
  left: 0;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  top: 8px;
}

.cart-button {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 850px) {
  .hamburger {
    display: block;
  }
}
@media (max-width: 850px) {
  .nav-menu {
    display: none;
  }

  .nav-menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #0E1C3C;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 40px rgba(14, 28, 60, 0.1);
  }

  .hamburger {
    display: block;
  }

  .header-buttons {
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  .header-buttons {
    width: 100%;
    justify-content: space-around;
  }

  .nav-button .icon {
    height: 24px;
    width: 24px;
  }
}
