@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

/* .menu-page {
    font-family: 'Jost', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    background-image: url('/public/greycircle.png');
    background-size: contain;
    background-repeat: no-repeat, repeat;
} */

.menu-page {
    padding: 20px;
    /* background-color: white; */
    background-image: url('/public/greycircle.png');
    background-size: contain;
    background-repeat: no-repeat, repeat;
}

section.menu {
    margin-bottom: 0px;
}

/* Categories menu */
.menu {
    width: 100%;
    overflow-x: auto;
    text-align: left;
    padding: 20px 0;
}

.menu-highlight {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 124px;
    height: 160px;
    text-align: center;
    transition: transform 0.3s;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0%);
}

.menu-item:hover {
    transform: scale(1.1);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(14, 28, 60, 0.1);
}

.icon1 {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.label {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin-top: 10px;
}

.menu-item .label {
    color: var(--color-steelblue);
}

.menu-item:hover .label {
    text-decoration: underline;
    color: #005993;
}

.menu .menu-item img {
    width: 50px;
}

@media (max-width: 768px) {
    .menu-highlight {
        justify-content: center;
        gap: 0px;
    }

    .menu .menu-item {
        width: 100px;
    }

    .icon-container {
        width: 64px;
        height: 64px;
    }

    .icon1 {
        width: 40px;
        height: 40px;
    }

    .label {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .menu-highlight {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .menu-item {
        width: 90px;
        height: 110px;
    }

    .icon-container {
        width: 50px;
        height: 50px;
    }

    .icon1 {
        width: 35px;
        height: 35px;
    }

    .label {
        font-size: 10px;
    }

    .menu .menu-item img {
        width: 35px;
    }
}

/* Food items */
.food-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 15%;
}

.food-card {
    background: white;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: #f8f8f8;
}

.price {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 4px 0.5px rgb(0 0 0 / 23%);
}

.info {
    text-align: center;
}

.category {
    font-size: 18px;
    font-weight: bold;
    background: white;
    padding: 15px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

/* Responsive Food Cards */
@media (max-width: 1024px) {
    .food-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin: 0 10%;
    }

    .food-card {
        max-width: 180px;
    }
}

@media (max-width: 768px) {
    .food-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 0 5%;
    }

    .food-card {
        max-width: 160px;
    }
}

@media (max-width: 480px) {
    .food-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 0 2%;
    }

    .food-card {
        max-width: 100%;
        margin-bottom: 25px;
    }
}

/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination .page-link {
    background-color: #0E1C3C;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination .page-item:hover .page-link {
    background-color: #08122e;
}

.pagination .page-item.active .page-link {
    background-color: #005993;
}

.pagination .page-item.disabled .page-link {
    background-color: #cccccc;
    cursor: not-allowed;
}
